{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h2>Stock Portfolio Summary</h2>
        <table class="table table-hover mt-4">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Current Price</th>
                    <th scope="col">Total Value</th>
                    <th scope="col">Trade</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["current_price"] | usd }}</td>
                    <td>{{ stock["total_value"] | usd }}</td>
                    <td>s
                        <form action="/buy" method="post" class="d-inline">
                            <input type="hidden" name="symbol" value="{{ stock['symbol'] }}">
                            <input type="number" name="shares" min="1" placeholder="Qty" class="form-control d-inline w-auto" style="width: auto;">
                            <button type="submit" class="btn btn-success btn-sm">Buy</button>
                        </form>
                        <form action="/sell" method="post" class="d-inline">
                            <input type="hidden" name="symbol" value="{{ stock['symbol'] }}">
                            <input type="number" name="shares" min="1" max="{{ stock['shares'] }}" placeholder="Qty" class="form-control d-inline w-auto" style="width: auto;">
                            <button type="submit" class="btn btn-danger btn-sm">Sell</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row" colspan="4">Cash Balance</th>
                    <td>{{ user_balance | usd }}</td>
                </tr>
                <tr class="table-success">
                    <th scope="row" colspan="4">Grand Total</th>
                    <td>{{ grand_total | usd }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
